.console {
	padding: 0px;
	padding-bottom: 15px;
	margin: 0px;
	background: hsl(225deg 5.8% 13.3%);
	color: #E6E6E6;
	font-family: monospace;
}
.console.hidden {
	display: none;
}
.console .output div.hidden {
	display: none;
}
.console .controls {
	display: flex;
	margin: 0px;
	padding: 4px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: hsl(240deg 0% 22.9%);
	background: hsl(225deg 5.8% 13.3%);
}
.console .controls .eval {
	flex-grow: 0;
	padding-left: 7px;
	padding-right: 7px;
}
.console .controls .input {
	flex-grow: 1;
	min-height: 15px;
	overflow: hidden;
}
.console .controls > *{
	all: unset;
}
.console .output {
	background: hsl(225deg 5.8% 13.3%);
	color: #E6E6E6;
	font-family: monospace;
}
.console .output div {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
	padding-left: 25px;
	padding-right: 25px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: hsl(240deg 0% 22.9%);
}
.console .output div > * {
	margin: 0px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.console .output .warn {
	background: hsl(51deg 100% 9.1%);
	color: hsl(40.5deg 100% 60%);
}
.console .output .error {
	background: hsl(0deg 100% 7.5%);
	color: hsl(0deg 100% 75%);
}