#currentTrack {
	font-weight: bold;
	font-size: 16px;
}

#progress {
   width: 100%;
   cursor: pointer;
   background-color: #9e9e9e;
   margin-top:8px;
}

#bar {
   height: 6px;
   background-color: #FF0000;
   width: 0;
}

#progressText {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

#currentPos {
	/*float: left;
	pointer-events: none;*/
	margin: 0px;
	width:45%;
}

#currentDur {
	/*float: right;
	pointer-events: none;*/
	margin: 0px;
	width:45%;
}

#header {
	background-color: #FFFFFF;
	width: 100%;
}

.pressed{
	background: #bbb;
	border-top: solid 2px #777;
	border-left: solid 2px #777;
	border-bottom: solid 2px #eaeaea;
	border-right: solid 2px #eaeaea;
}

.folderButton {
	border: 16px;
	background-color: inherit;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	text-align: left;
	font-family: 'Crimson Text', 'Georgia', serif;
	font-weight: bold;
	width: 100%;
}

.trackButton {
	border: 16px;
	background-color: inherit;
	width: 90%;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	text-align: left;
}

.trackLI:hover {
	background: #eee;
}

.trackLI:hover .skipLikeBtn {
	display: inline;
	cursor: pointer;
}

.skipLikeBtn {
	display: none;
	width: 5%;
	border: 1px;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

.skipped {
	text-decoration: line-through;
	text-decoration-color: red;
}

.liked {
	/*text-decoration: underline;
	text-decoration-color: #248f24;
	text-decoration-style: double;*/
	font-weight: bold;
	color: #248f24;
}

#content {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

#controls {
	text-align: center;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

.collapsible {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

body{
	margin: 0;
	font-family: 'Crimson Text', 'Georgia', serif;
}
