[Unit]
Description=Youtube-dl daemon service

[Service]
Type=simple
WorkingDirectory=dirname/
ExecStart=yt-dlp/yt-dlp > output.log 2> error.log

[Install]
WantedBy=default.target
