<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../shared/style.css">
		<!--enable HTML Console-->
		<link rel="stylesheet" href="../shared/console.css">
		<script type="module" src="../shared/enable-console.js"></script>
		
		<script type="text/javascript" src="../shared/options.js"></script>
		<script type="module" src="./js/main.js"></script>
	</head>
	<body>
		<div class="controls sticky" id="header">
			<div>
				<a href="../">Back</a>
			</div>
			<div>
				<div id="test_cases" class="options"></div>
			</div>
			<div>
				<button id="start_btn">Start Tests</button>
			</div>
		</div>
	</body>
</html>
