body {
	background-color: #424242;
	margin: 0px;
	color: #E6E6E6;
	font-size: 100%;
	/*margin-top: 72px;
	margin-bottom: 45px;*/
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #303030;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #999999;
}
.controls {
	padding: 25px;
}
.console {
	margin: 0px;
	padding: 1px;
	padding-left: 25px;
	padding-right: 25px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #999999;
}
.fail {
	color: #FF0000;
}
.pass {
	color: #00FF2D;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #303030;
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	padding: 12px;
	display: grid;
	grid-template-columns: auto min-content;
}
#options input{
	margin-right: 12px;
}
#options label{
	padding-left: 12px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 1px;
}
#hidden_div{
	display: block;
}
/*@media screen and (orientation: portrait) {
	body {
		font-size: 150%;
		margin-top: 163px;
		margin-bottom: 118px;
	}
	.footer{
		padding: 24px;
		padding-bottom: 72px;
	}
}*/
